.send-button {
  background-color: rgb(25, 135, 84);
  border: none;
  color: white;
  margin-left: 10px;
  padding: 12px 20px;
  border-radius: 10px;

  cursor: pointer;
}

.chat-input {
  border-radius: 10px;
  border-width: 1px;
  padding: 10px 20px;
  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}
